@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  max-width: 1680px;

  @apply font-sans mx-auto;
}

.forGradientBG {
  background: linear-gradient(
    239.75deg,
    rgba(255, 255, 255, 0.7) 1.2%,
    rgba(255, 255, 255, 0) 70.51%
  );
}
