@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply font-poppins mx-auto;
}

.forGradientBG {
  background: linear-gradient(
    239.75deg,
    rgba(255, 255, 255, 0.7) 1.2%,
    rgba(255, 255, 255, 0) 70.51%
  );
}

@layer components {
  .questionDiv {
    @apply flex items-center justify-between w-full;
  }
  .questionContent {
    @apply h-[177px] flex px-7 py-6 border-t border-t-gray-200 flex-col bg-neutral-100 transition-all duration-300 hover:cursor-pointer;
  }

  .question {
    @apply h-20 flex px-7 py-6 border-t border-t-gray-200 flex-col transition-all duration-300 hover:cursor-pointer;
  }

  .questionTitle {
    @apply font-semibold text-lg text-neutral-500;
  }
}
